--
-- PostgreSQL database dump
--

\restrict n0iBhsrbXQ4wFriGU1DKdqHW4u6nfAAPnNKnehAkrIklRaNhfNaYQMq9Zi3NZtX

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: departments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.departments (
    department_id integer CONSTRAINT department_department_id_not_null NOT NULL,
    personal_id integer,
    naming text CONSTRAINT department_naming_not_null NOT NULL,
    beds integer,
    specialty character varying(30)
);


ALTER TABLE public.departments OWNER TO postgres;

--
-- Name: department_department_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.department_department_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.department_department_id_seq OWNER TO postgres;

--
-- Name: department_department_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.department_department_id_seq OWNED BY public.departments.department_id;


--
-- Name: diagnosis; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.diagnosis (
    icd_10 character(7) NOT NULL,
    naming character varying(30)
);


ALTER TABLE public.diagnosis OWNER TO postgres;

--
-- Name: drugs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.drugs (
    drug_id integer NOT NULL,
    category character varying(50) CONSTRAINT drugs_lable_not_null NOT NULL,
    lable character varying(50) CONSTRAINT drugs_category_not_null NOT NULL,
    dosage integer NOT NULL
);


ALTER TABLE public.drugs OWNER TO postgres;

--
-- Name: drugs_drug_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.drugs_drug_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.drugs_drug_id_seq OWNER TO postgres;

--
-- Name: drugs_drug_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.drugs_drug_id_seq OWNED BY public.drugs.drug_id;


--
-- Name: employees; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employees (
    personal_id integer CONSTRAINT personal_personal_id_not_null NOT NULL,
    first_name character varying(50) CONSTRAINT personal_first_name_not_null NOT NULL,
    last_name character varying(50) CONSTRAINT personal_last_name_not_null NOT NULL,
    login character varying(20) CONSTRAINT personal_login_not_null NOT NULL,
    user_password character varying(255) CONSTRAINT personal_password_hash_not_null NOT NULL,
    position_name character varying(30),
    speciality character varying(50),
    experience integer CONSTRAINT personal_experience_not_null NOT NULL,
    tel_number character varying(12) CONSTRAINT personal_tel_number_not_null NOT NULL,
    schedule text,
    photo text,
    department integer
);


ALTER TABLE public.employees OWNER TO postgres;

--
-- Name: hospitalizations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.hospitalizations (
    patient integer,
    doctor integer,
    room integer,
    date_time timestamp without time zone,
    planned_checkout timestamp without time zone,
    fact_checkout timestamp without time zone,
    prev_diagnosis character(7),
    final_diagnosis character(7),
    resid_status boolean,
    accomp_person character varying(50),
    hospitalization_id integer CONSTRAINT hospitalization_hospitalization_id_not_null NOT NULL
);


ALTER TABLE public.hospitalizations OWNER TO postgres;

--
-- Name: hospitalization_hospitalization_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.hospitalization_hospitalization_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.hospitalization_hospitalization_id_seq OWNER TO postgres;

--
-- Name: hospitalization_hospitalization_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.hospitalization_hospitalization_id_seq OWNED BY public.hospitalizations.hospitalization_id;


--
-- Name: medcard_illness_records; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.medcard_illness_records (
    medcard_id integer NOT NULL,
    icd_10 character(7) NOT NULL
);


ALTER TABLE public.medcard_illness_records OWNER TO postgres;

--
-- Name: medicalcards; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.medicalcards (
    medcard_id integer CONSTRAINT medicalcard_medcard_id_not_null NOT NULL,
    patient_id integer CONSTRAINT medicalcard_patient_id_not_null NOT NULL,
    record_date timestamp without time zone CONSTRAINT medicalcard_record_date_not_null NOT NULL,
    diagnosis character(7),
    doctor integer,
    hospitalization integer
);


ALTER TABLE public.medicalcards OWNER TO postgres;

--
-- Name: medicalcard_medcard_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.medicalcard_medcard_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.medicalcard_medcard_id_seq OWNER TO postgres;

--
-- Name: medicalcard_medcard_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.medicalcard_medcard_id_seq OWNED BY public.medicalcards.medcard_id;


--
-- Name: patients; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.patients (
    patient_id integer CONSTRAINT patient_patient_id_not_null NOT NULL,
    first_name character varying(50) CONSTRAINT patient_first_name_not_null NOT NULL,
    last_name character varying(50) CONSTRAINT patient_last_name_not_null NOT NULL,
    birth_date timestamp without time zone CONSTRAINT patient_birth_date_not_null NOT NULL,
    contact_person character varying(50) CONSTRAINT patient_contact_person_not_null NOT NULL,
    doctor integer,
    room integer
);


ALTER TABLE public.patients OWNER TO postgres;

--
-- Name: patient_patient_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.patient_patient_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.patient_patient_id_seq OWNER TO postgres;

--
-- Name: patient_patient_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.patient_patient_id_seq OWNED BY public.patients.patient_id;


--
-- Name: personal_personal_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.personal_personal_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.personal_personal_id_seq OWNER TO postgres;

--
-- Name: personal_personal_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.personal_personal_id_seq OWNED BY public.employees.personal_id;


--
-- Name: positions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.positions (
    position_name character varying(30) NOT NULL,
    salary integer
);


ALTER TABLE public.positions OWNER TO postgres;

--
-- Name: receipts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.receipts (
    receipt_id integer CONSTRAINT receipt_receipt_id_not_null NOT NULL,
    digital_sign text,
    patient integer,
    doctor integer,
    drug integer,
    checkout_date timestamp without time zone,
    validity_period_months integer,
    scheme text,
    overall_quantity integer,
    status boolean
);


ALTER TABLE public.receipts OWNER TO postgres;

--
-- Name: receipt_receipt_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.receipt_receipt_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.receipt_receipt_id_seq OWNER TO postgres;

--
-- Name: receipt_receipt_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.receipt_receipt_id_seq OWNED BY public.receipts.receipt_id;


--
-- Name: rooms; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rooms (
    department integer,
    personal_id integer,
    room_number integer CONSTRAINT room_room_number_not_null NOT NULL,
    capacity integer,
    gender character varying(1),
    room_floor integer,
    security_level character varying(15),
    video_monitoring boolean
);


ALTER TABLE public.rooms OWNER TO postgres;

--
-- Name: departments department_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments ALTER COLUMN department_id SET DEFAULT nextval('public.department_department_id_seq'::regclass);


--
-- Name: drugs drug_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.drugs ALTER COLUMN drug_id SET DEFAULT nextval('public.drugs_drug_id_seq'::regclass);


--
-- Name: employees personal_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees ALTER COLUMN personal_id SET DEFAULT nextval('public.personal_personal_id_seq'::regclass);


--
-- Name: hospitalizations hospitalization_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hospitalizations ALTER COLUMN hospitalization_id SET DEFAULT nextval('public.hospitalization_hospitalization_id_seq'::regclass);


--
-- Name: medicalcards medcard_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.medicalcards ALTER COLUMN medcard_id SET DEFAULT nextval('public.medicalcard_medcard_id_seq'::regclass);


--
-- Name: patients patient_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.patients ALTER COLUMN patient_id SET DEFAULT nextval('public.patient_patient_id_seq'::regclass);


--
-- Name: receipts receipt_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.receipts ALTER COLUMN receipt_id SET DEFAULT nextval('public.receipt_receipt_id_seq'::regclass);


--
-- Data for Name: departments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: diagnosis; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: drugs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: employees; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: hospitalizations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: medcard_illness_records; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: medicalcards; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: patients; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: positions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: receipts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: rooms; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: department_department_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.department_department_id_seq', 8, true);


--
-- Name: drugs_drug_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.drugs_drug_id_seq', 108, true);


--
-- Name: hospitalization_hospitalization_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.hospitalization_hospitalization_id_seq', 120, true);


--
-- Name: medicalcard_medcard_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.medicalcard_medcard_id_seq', 297, true);


--
-- Name: patient_patient_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.patient_patient_id_seq', 118, true);


--
-- Name: personal_personal_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.personal_personal_id_seq', 19, true);


--
-- Name: receipt_receipt_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.receipt_receipt_id_seq', 165, true);


--
-- Name: departments department_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT department_pkey PRIMARY KEY (department_id);


--
-- Name: diagnosis diagnosis_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.diagnosis
    ADD CONSTRAINT diagnosis_pkey PRIMARY KEY (icd_10);


--
-- Name: drugs drugs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.drugs
    ADD CONSTRAINT drugs_pkey PRIMARY KEY (drug_id);


--
-- Name: employees employees_login_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_login_unique UNIQUE (login);


--
-- Name: employees employees_tel_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_tel_unique UNIQUE (tel_number);


--
-- Name: hospitalizations hospitalization_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hospitalizations
    ADD CONSTRAINT hospitalization_pkey PRIMARY KEY (hospitalization_id);


--
-- Name: medcard_illness_records medcard_illness_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.medcard_illness_records
    ADD CONSTRAINT medcard_illness_pkey PRIMARY KEY (medcard_id, icd_10);


--
-- Name: medicalcards medicalcard_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.medicalcards
    ADD CONSTRAINT medicalcard_pkey PRIMARY KEY (medcard_id);


--
-- Name: patients patient_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.patients
    ADD CONSTRAINT patient_pkey PRIMARY KEY (patient_id);


--
-- Name: employees personal_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT personal_pkey PRIMARY KEY (personal_id);


--
-- Name: positions positions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.positions
    ADD CONSTRAINT positions_pkey PRIMARY KEY (position_name);


--
-- Name: receipts receipt_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.receipts
    ADD CONSTRAINT receipt_pkey PRIMARY KEY (receipt_id);


--
-- Name: rooms room_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT room_pkey PRIMARY KEY (room_number);


--
-- Name: departments department_personal_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT department_personal_id_fkey FOREIGN KEY (personal_id) REFERENCES public.employees(personal_id);


--
-- Name: hospitalizations hospitalization_doctor_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hospitalizations
    ADD CONSTRAINT hospitalization_doctor_fkey FOREIGN KEY (doctor) REFERENCES public.employees(personal_id);


--
-- Name: hospitalizations hospitalization_final_diagnosis_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hospitalizations
    ADD CONSTRAINT hospitalization_final_diagnosis_fkey FOREIGN KEY (final_diagnosis) REFERENCES public.diagnosis(icd_10);


--
-- Name: hospitalizations hospitalization_patient_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hospitalizations
    ADD CONSTRAINT hospitalization_patient_fkey FOREIGN KEY (patient) REFERENCES public.patients(patient_id);


--
-- Name: hospitalizations hospitalization_prev_diagnosis_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hospitalizations
    ADD CONSTRAINT hospitalization_prev_diagnosis_fkey FOREIGN KEY (prev_diagnosis) REFERENCES public.diagnosis(icd_10);


--
-- Name: hospitalizations hospitalization_room_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hospitalizations
    ADD CONSTRAINT hospitalization_room_fkey FOREIGN KEY (room) REFERENCES public.rooms(room_number);


--
-- Name: medcard_illness_records medcard_illness_records_icd_10_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.medcard_illness_records
    ADD CONSTRAINT medcard_illness_records_icd_10_fkey FOREIGN KEY (icd_10) REFERENCES public.diagnosis(icd_10);


--
-- Name: medcard_illness_records medcard_illness_records_medcard_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.medcard_illness_records
    ADD CONSTRAINT medcard_illness_records_medcard_id_fkey FOREIGN KEY (medcard_id) REFERENCES public.medicalcards(medcard_id);


--
-- Name: medicalcards medicalcard_diagnosis_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.medicalcards
    ADD CONSTRAINT medicalcard_diagnosis_fkey FOREIGN KEY (diagnosis) REFERENCES public.diagnosis(icd_10);


--
-- Name: medicalcards medicalcard_doctor_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.medicalcards
    ADD CONSTRAINT medicalcard_doctor_fkey FOREIGN KEY (doctor) REFERENCES public.employees(personal_id);


--
-- Name: medicalcards medicalcard_hospitalization_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.medicalcards
    ADD CONSTRAINT medicalcard_hospitalization_fkey FOREIGN KEY (hospitalization) REFERENCES public.hospitalizations(hospitalization_id);


--
-- Name: medicalcards medicalcard_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.medicalcards
    ADD CONSTRAINT medicalcard_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.patients(patient_id);


--
-- Name: patients patient_doctor_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.patients
    ADD CONSTRAINT patient_doctor_fkey FOREIGN KEY (doctor) REFERENCES public.employees(personal_id);


--
-- Name: patients patient_room_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.patients
    ADD CONSTRAINT patient_room_fkey FOREIGN KEY (room) REFERENCES public.rooms(room_number);


--
-- Name: employees personal_department_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT personal_department_fkey FOREIGN KEY (department) REFERENCES public.departments(department_id);


--
-- Name: employees personal_position_name_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT personal_position_name_fkey FOREIGN KEY (position_name) REFERENCES public.positions(position_name);


--
-- Name: receipts receipt_doctor_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.receipts
    ADD CONSTRAINT receipt_doctor_fkey FOREIGN KEY (doctor) REFERENCES public.employees(personal_id);


--
-- Name: receipts receipt_drug_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.receipts
    ADD CONSTRAINT receipt_drug_fkey FOREIGN KEY (drug) REFERENCES public.drugs(drug_id);


--
-- Name: receipts receipt_patient_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.receipts
    ADD CONSTRAINT receipt_patient_fkey FOREIGN KEY (patient) REFERENCES public.patients(patient_id);


--
-- Name: rooms room_department_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT room_department_fkey FOREIGN KEY (department) REFERENCES public.departments(department_id);


--
-- Name: rooms room_personal_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT room_personal_id_fkey FOREIGN KEY (personal_id) REFERENCES public.employees(personal_id);


--
-- PostgreSQL database dump complete
--

\unrestrict n0iBhsrbXQ4wFriGU1DKdqHW4u6nfAAPnNKnehAkrIklRaNhfNaYQMq9Zi3NZtX

